<div class="main">
    <section id="service-details">
        <div class="container">
            <h2>Cloud Computing</h2>
            <p>We provide expert cloud computing consulting services to help your business leverage the power of the cloud.</p>
            <p>Our services include:</p>
            <ul>
                <li>Assessment of your current IT infrastructure</li>
                <li>Recommendations for cloud migration strategies</li>
                <li>Implementation of cloud solutions tailored to your needs</li>
            </ul>
        </div>
    </section>
        <button matButton (click)="onNoClick()">Close</button>
</div>


